<div class="mat-app-background">
<mat-toolbar color="primary">
  <h1 class="title">{{title}} &nbsp;</h1>
  <div class="header">
  <nav fxLayout="row" fxLayoutAlign="start">
    <a routerLink="/dashboard"> Dashboard </a>
    <a routerLink="/heroes"> Heroes </a>
    <a routerLink="/hero-add"> Create </a>
    <a routerLink="/hero-search" class="lupita"><mat-icon>search</mat-icon></a>
  </nav>
</div>
  <div class="flex-stretch"></div>
  <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
</mat-toolbar>
<div class="content">
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <div class="message">
    <app-dialog></app-dialog>
  </div>
</div>
  <div class="vacio">

  </div>

</div>
