/* Application-wide Styles */
h1 {
  color: #12518f;
  font-family: Courier, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Courier, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0em;
  overflow: hidden;
}
.title{
  padding: 5em;
}
@media screen and (max-width: 1200px) {
  .title{
    padding: 0em;
  }
}
body, input[type="text"], button {
  color: #333;
  font-family: Courier, Helvetica, sans-serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: #57717c;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Courier, Helvetica, sans-serif;

}

html, body { height: 100%; }


input{
  background-color: rgba(206, 242, 255, 0.53);
  border-color: #59c3ef;
}
input:focus{
  outline-color: #00c4ff;
}

